name: Deploy MERN App 

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Pull latest code
        run: |
          cd ~/Tour-Travel-Booking-Web-App/routes/
          git reset --hard
          git pull origin main

      - name: Install dependencies
        run: |
          cd ~/Tour-Travel-Booking-Web-App/routes/
          sudo npm install

      - name: Restart PM2
        run: |
          pm2 restart backend || pm2 start index.js --name backend
          pm2 save
